@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  overflow: hidden;
  background-color: BLACK;
  font-family: "Press Start 2P";
}

.gameCanvas {
  width: 100%;
  height: 100%;
}
html {
  user-select: none;
}

.score {
  left: 20%;
  top: 15%;
}

.score,
.exp,
.lvl,
.time,
.frenzycount {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 500px;
  height: 100px;
  color: white;
}

.lvl {
  left: 20%;
  top: 20%;
}
.exp {
  left: 20%;
  top: 25%;
}
.desc {
  color: white;
  width: 500px;
  height: 500px;
  left: 65%;
  top: 5%;
  position: absolute;
}
.play {
  color: white;
  width: 300px;
  height: 200px;
  font-size: 40px;
  left: 5%;
  top: 5%;
  position: absolute;
}
.gameEvent {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.time {
  left: 20%;
  top: 30%;
}
.frenzycount {
  left: 20%;
  top: 35%;
}
